<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permissions for biometric authentication -->
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />

    <!-- Internet permission for potential future features -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Prevent screenshots in recent apps for security -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/launcher_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/launcher_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PasswordManager"
        tools:targetApi="31">

        <!-- Main Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.PasswordManager"
            android:windowSoftInputMode="adjustResize"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".autofill.AutofillAuthActivity"
            android:theme="@style/Theme.PasswordManager"
            android:exported="false" />

        <!-- Autofill service -->
        <service
            android:name=".autofill.PasswordAutofillService"
            android:label="LockedIn Autofill"
            android:exported="true"
            android:permission="android.permission.BIND_AUTOFILL_SERVICE">
            <intent-filter>
                <action android:name="android.service.autofill.AutofillService" />
            </intent-filter>
            <meta-data
                android:name="android.autofill"
                android:resource="@xml/autofill_service" />
        </service>

        <!-- Prevent app from appearing in screenshots -->
        <meta-data
            android:name="android.security.APP_DATA_ISOLATION_ENABLED"
            android:value="true" />

    </application>

</manifest>
